html {
  height: 100%;
}

.contact-container {
  padding-top: 150px;
}

.contact-box {
  height: auto;
}

.form {
  width: 75%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.submit-btn {
  background: white;
  color: black;
}

.inputs {
  flex: 1; /* Add flex: 1 to make the div take up the remaining space */
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container {
  padding-bottom: 30px;
}

.contact-box h2 {
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.contact-box .name-box {
  position: relative;
}

.contact-box .name-box input,
.contact-box .name-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.contact-box .name-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.contact-box .name-box input:focus ~ label,
.contact-box .name-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.contact-box form a {
  display: block; /* make the link a block element to create spacing below it */
  width: fit-content; /* set width to fit the content */
  margin: 0 auto; /* center the link horizontally */
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.contact-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e;
}

.contact-img {
  flex: 1; /* Add flex: 1 to make the image take up the remaining space */
  max-width: 50%; /* Set max-width to 50% to cover the right half of the box */
  height: auto;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Add justify-content: flex-end to align the image to the right */
}

.moon {
  width: 100%; /* Update width to 100% to fill the container */
  height: auto;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .form {
    flex-direction: column-reverse;
  }

  .contact-img {
    max-width: fit-content;
  }

  .inputs {
    padding: 20px;
  }
}
