html {
  height: 100%;
}

.contact-container {
  padding-top: 150px;
}

.contact-box {
  height: auto;
}

.form {
  width: 75%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.email {
  color: #dadada;
}

.submit-btn {
  background: #03e9f4;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  width: 50%;
  margin: 10px auto;
  padding: 10px 20px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submit-btn:hover {
  background: #3ceebc;
  transform: scale(1.1);
}

.inputs {
  flex: 1; /* Add flex: 1 to make the div take up the remaining space */
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container {
  padding-bottom: 30px;
}

.contact-box h2 {
  margin: 0 0 20px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.contact-box .name-box {
  position: relative;
}

.contact-box .name-box input,
.contact-box .name-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.contact-box .name-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 12px;
  color: #03e9f4;
  pointer-events: none;
  transition: 0.5s;
}

#message-box {
  padding-top: 30px;
}

.contact-box .name-box input:focus ~ label,
.contact-box .name-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.contact-img {
  flex: 1; /* Add flex: 1 to make the image take up the remaining space */
  max-width: 50%; /* Set max-width to 50% to cover the right half of the box */
  height: auto;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Add justify-content: flex-end to align the image to the right */
}

.moon {
  width: 100%; /* Update width to 100% to fill the container */
  height: auto;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .form {
    flex-direction: column-reverse;
  }

  .contact-img {
    max-width: fit-content;
  }

  .inputs {
    padding: 20px;
  }

  .submit-btn {
    font-size: 0.9rem;
  }
}
