:root {
  --main-color: #3ceebc;
  --second-color: #3ceebc;

  /*---CUSTOM FONT SIZES---*/
  --fs-xl: 3rem;
  --fs-600: 2rem;
  --fs-400: 1rem;
}

@media (min-width: 40em) {
  :root {
    --fs-xl: 4rem;
    --fs-600: 3rem;
    --fs-400: 1.25rem;
  }
}

@media (max-width: 500px) {
  :root {
    --fs-xl: 2rem;
    --fs-600: 1.5rem;
    --fs-400: 0.75rem;
  }
}

html {
  margin: 0;
  padding: 0;
}

.header {
  min-height: 100vh;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;
}

.p {
  padding: 15px;
  margin: 5px;
  color: white;
  text-align: justify;
}

.headshot {
  max-width: 50%;
  max-height: 50vh;
  border-radius: 50%;
  margin: 20px;
  padding-top: 20px;
}

.text {
  margin: 50px;
  width: 50%;
  border-radius: 15px;
  background: #00000097;
  padding: 10px;
}

.title {
  color: var(--main-color);
  font-size: var(--fs-xl);
  padding: 10px;
}

.sub-title {
  color: var(--main-color);
  font-size: var(--fs-600);
}

.down-arrow {
  font-size: 3rem;
  top: 90%;
  position: relative;
  background-color: rgb(9, 103, 92);
  border-radius: 90px;
  padding: 5px;
}

.down-arrow:hover {
  color: #000000;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .header-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .headshot {
    max-width: 100%;
    max-height: 30vh;
    border-radius: 50%;
    margin: 20px;
  }

  .text {
    margin: 10px;
    width: 100%;
    border-radius: 15px;
    background: #00000085;
  }
}

@media (max-width: 800px) {
  .header-top {
    margin-top: 53px;
  }
}

@media (max-width: 500px) {
  .header-top {
    margin-top: 43px;
  }
}
