:root {
  --main-color: #000000;
  --second-color: #000000;
}

html {
  margin: 0;
  padding: 0;
}

.header {
  height: 100vh;
  margin-top: 100px;
}

.header-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headshot {
  max-width: 50vw;
  max-height: 50vh;
  border-radius: 90vw;
  margin: 20px;
}

.text {
  margin: 50px;
  width: 50%;
  background-color: #00000020;
  border-radius: 15px;
}

.title {
  color: var(--main-color);
}

.sub-title {
  color: var(--second-color);
}

.down-arrow {
  font-size: 3rem;
  top: 90vh;
  left: 50%; /* Update to 50% to center horizontally */
  transform: translateX(-50%); /* Add this to center horizontally */
  position: absolute;
  background-color: rgb(9, 103, 92);
  border-radius: 90px;
  padding: 5px;
}

.down-arrow:hover {
  color: #000000;
  cursor: pointer;
}
