.nav-bg {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 10px;
  width: 100%;

  box-sizing: border-box;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-icon {
  font-size: 40px;
  line-height: 1;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-end;
}

.headshot-nav {
  max-height: 60px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
}

.page-item,
.social-link {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  line-height: 1;
}

.page-item:hover,
.social-link:hover {
  cursor: pointer;
  color: #3ceebc;
}

@media (max-width: 800px) {
  .nav-icon {
    font-size: 30px;
    line-height: 1;
  }
}

@media (max-width: 500px) {
  .nav-icon {
    font-size: 20px;
    line-height: 1;
  }

  .nav {
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }

  .headshot-nav {
    max-height: 70%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
  }

  .page-item,
  .social-link {
    font-size: var(--fs-400);
  }
}
