.nav-icon {
  font-size: var(--font-sm);
  line-height: 1;
}

.nav-text {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.nav-bg {
  position: absolute;
  z-index: 5;
  max-width: 100%;
  width: 1400px;
  margin: auto;
  left: 0;
  right: 0;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 72px;
  padding: 29px 0;
}

.page-item,
.social-link {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  line-height: 1;
  font: normal normal 500 15px/18px Lato;
}

.page-item:hover,
.social-link:hover {
  cursor: pointer;
  color: #000000;
}

@media (max-width: 1450px) {
  .nav {
    padding-left: 97px;
  }
  .nav-bg {
    width: 100vw;
  }
}

@media (max-width: 1000px) {
  .nav {
    justify-content: center; /* Center the nav items */
    gap: 80px; /* Adjust gap between nav items */
    padding-left: 0;
  }
}

@media (max-width: 800px) {
  .nav-icon {
    font-size: 30px;
    line-height: 1;
  }
  .nav {
    justify-content: space-evenly;
  }
  /* .nav-text {
    display: none;
  } */
}

@media (max-width: 500px) {
  .nav-icon {
    font-size: 20px;
    line-height: 1;
  }

  .nav {
    flex-direction: row;
    gap: 10px;
  }

  .headshot-nav {
    max-height: 70%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
  }

  .page-item,
  .social-link {
    font-size: var(--fs-400);
  }
}
