.section-title {
  padding-top: 50px;
  text-align: end;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 150px;
  line-height: 47px;
  letter-spacing: -4.65px;
  margin: 0 280px;
}

.projects {
  min-height: 125vh;
  background: transparent
    linear-gradient(179deg, #ffffff 0%, #fbee7a 48%, #90fedf 100%) 0% 0%
    no-repeat padding-box;
  opacity: 1;
  color: black;
}

.project-container {
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 50px;
  margin: 0 280px;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-left: 1px solid black;
  justify-content: center;
}

.link {
  color: #000000;
  text-decoration: none;
}

.project {
  flex-basis: calc(50% - 7.5px);
  position: relative;
  background: #ffffff;
  max-width: 644px;
  height: 518px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.img-container {
  height: 220px;
  width: 638px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Add relative position to container */
}

.project-image {
  width: 100%;
}

.hover-options {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00000080; /* Add background color and adjust opacity */
  transition: opacity 0.3s ease-in-out;
}

.img-container:hover .hover-options {
  opacity: 1; /* Show hover options on hover */
}

.option {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
  background-color: #29aa8a;
  padding: 10px;
  border-radius: 20px;
}

.option:hover {
  background-color: #3ceebc;
  color: rgb(0, 0, 0);
}

.project-title {
  background-color: rgb(41, 170, 138);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.project-description {
  color: #000000;
  margin-bottom: 10px;
  padding: 10px;
}

.tags span {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/*--------------------------Project Technologies START----------------------*/

.javascript {
  background-color: #f3db1c;
}

.css {
  background-color: #2c64f3;
  color: white;
}

.react {
  background-color: #64dcfc;
}

.vite {
  background-color: #9e5cf8;
}

.unsplash {
  background-color: white;
}

.gpt {
  background-color: #14a37c;
}

.web {
  background-color: grey;
  color: white;
}

.node {
  background-color: #52a145;
}

.axios {
  background-color: #5d2ee4;
  color: white;
}

.game {
  background-color: greenyellow;
}

.html {
  background-color: #f3632c;
}

.sass {
  background-color: #cc649c;
}

.phaser {
  background-color: #ade7f5;
}

.matter {
  background-color: #75f29c;
}

.photoshop {
  background-color: #33abfb;
}

/*--------------------------Project Technologies END----------------------*/

/*--------------------------Responsive Design START----------------------*/

@media (max-width: 1920px) {
  .project {
    max-width: 450px;
    min-width: 250px;
    min-height: 600px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.72);
    flex-direction: column;
    border: none;
  }

  .img-container {
    min-height: 250px;
    border: none;
  }

  .project-title {
    border-radius: 20px 20px 0 0;
    font-size: 1.7rem;
  }

  .bottom-container {
    border: none;
    max-width: none;
    border-radius: 15px;
  }
}

@media (max-width: 750px) {
  .project {
    max-width: 450px;
    min-width: 80%;
    min-height: 300px;
  }

  .bottom-container {
    padding-bottom: 10px;
    border-radius: 20px;
  }

  .img-container {
    min-height: 200px;
  }

  .section-title {
    font-size: 2rem;
  }
}
