.projects {
  min-height: 125vh;
  background-color: aliceblue;
  color: black;
}

.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.project {
  position: relative;
  background: aliceblue;
  max-width: 450px;
  box-shadow: 0 2px 4px #aaddd4;
  border-radius: 20px;
}

.img-container {
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image {
  max-width: 100%;
}

.project-title {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 1px #aaddd4;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.project-description {
  color: #000000;
}

.tags span {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  background-color: #ffffff;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
