.projects {
  min-height: 125vh;
  background: linear-gradient(0deg, #62959b 0%, #f0f8ff 85%);
  color: black;
}

.project-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.link {
  color: #000000;
  text-decoration: none;
}

.project {
  flex-basis: calc(50% - 7.5px);
  position: relative;
  background: aliceblue;
  max-width: 450px;
  border-radius: 20px;
}

.img-container {
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Add relative position to container */
}

.project-image {
  max-width: 100%;
}

.hover-options {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00000080; /* Add background color and adjust opacity */
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
}

.img-container:hover .hover-options {
  opacity: 1; /* Show hover options on hover */
  border-radius: 20px;
}

.option {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
  background-color: #29aa8a; /* Add background color to options */
  padding: 10px;
  border-radius: 20px;
}

.project-title {
  background-color: rgba(41, 170, 138, 0.245);
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.project-description {
  color: #000000;
  margin-bottom: 10px;
}

.tags span {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.javascript {
  background-color: #f3db1c;
}

.css {
  background-color: #2c64f3;
}

.react {
  background-color: #64dcfc;
}

.vite {
  background-color: #9e5cf8;
}

.unsplash {
  background-color: white;
}

.gpt {
  background-color: #14a37c;
}

.web {
  background-color: grey;
}

.node {
  background-color: #52a145;
}

.axios {
  background-color: #5d2ee4;
}

.game {
  background-color: greenyellow;
}

.html {
  background-color: #f3632c;
}

.sass {
  background-color: #cc649c;
}

.phaser {
  background-color: #ade7f5;
}

.matter {
  background-color: #75f29c;
}

.photoshop {
  background-color: #33abfb;
}
