:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #62959b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Define root variables for colors and font sizes */
:root {
  --main-color: #333; /* Main text color */
  --accent-color: #3ceebc; /* Accent color for highlights */
  --bg-color: #ffffff; /* Background color */
  --font-xl: 136px; /* Extra large font size */
  --font-lg: 99px; /* Large font size */
  --font-md: 30px; /* Medium font size */
  --font-sm: 15px; /* Small font size */
  --font-family: 'Lato';
}
